<div class="row"  [hidden]="!canShowRequest" *ngIf="graduationRequestStatus && activeStep">
  <div class="col-md-3" id="step-slider">
    <ol class="step-slider">
      <li 
        *ngFor="let step of graduationRequestStatus.steps; index as i" 
        class="step-slider__item"
        [ngClass]="{
          'step-slider__item--active': activeStep.alternateName == step.alternateName,
          'step-slider__item--completed': step.status == 'completed',
          'step-slider__item--unavailable': step.status == 'unavailable'
        }"
      >
        <button class="step-slider__item-content step-slider__item-button" (click)="loadComponent(i)">
          <div class="step-slider__item-icon-wrapper icon-container">
            <span class="fa-stack">
              <i *ngIf="step.status=='completed'" class="fa fa-check fa-stack-1x fa-inverse"></i>
              <i *ngIf="step.status=='pending'" class="fa fa-clock fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="step-slider__item-text">
            <span class="step-slider__item-title" > {{ step.title | translate }} </span>
          </div>
        </button>
      </li>      
    </ol>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <ng-template universisGraduationRequestWizard></ng-template>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col d-flex">
            <button 
              class="btn btn-gray-100" 
              *ngIf="graduationRequestStatus?.steps && currentAdIndex > 0"
              (click)="loadComponent(currentAdIndex - 1)"              
            > 
              {{ 'UniversisGraduationModule.Previous' | translate}} 
            </button>
            <button class="btn btn-indigo ml-auto" 
              *ngIf="
                graduationRequestStatus?.steps 
                && currentAdIndex < graduationRequestStatus?.steps.length - 1 
                && graduationRequestStatus?.steps[currentAdIndex + 1].status !== 'unavailable' 
              "
              (click)="loadComponent(currentAdIndex + 1)"
            > 
              {{ 'UniversisGraduationModule.Next' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div 
  class="row" 
  *ngIf="
    graduationRequestStatus 
    && 
    (
      !graduationRequestStatus.graduationPeriodExist 
      || 
      !graduationRequestStatus.graduationRequestPeriodOpen
    )
  "
>
  <div class="col">
    <universis-msgbox
        [title]="'UniversisGraduationModule.OutOfGraduationRequestPeriodMessage' | translate"
        [icon]="'fa fa-times'"
        [message]="'UniversisGraduationModule.OutOfGraduationRequestPeriodMessage' | translate"
      >
      </universis-msgbox>
  </div>  
</div>
