<ng-container *ngIf="graduationRequestStatus">
  <div class="row" *ngIf="graduationRequestStatus.graduationPeriodExist">
    <div class="col">
      <p
        [translate]="'UniversisGraduationModule.GraduationDatesNotice'"
        [translateParams]="{
          dateStart: graduationRequestStatus.requestPeriodStart | date: 'shortDate',
          dateEnd: graduationRequestStatus.requestPeriodEnd | date: 'shortDate'
        }"
      >
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <universis-msgbox
        [title]="graduationPeriodStatusTitle"
        [icon]=" graduationRequestStatus.graduationRequestPeriodOpen ? 'far fa-hourglass' : 'far fa-clock'"
        [message]="graduationPeriodStatusMessage"
        [extraMessage]="'message.extraMessage | translate: params'"
        [actionButton]="'UniversisGraduationModule.GraduationRequestWizard' | translate"
        [disableBut]="!graduationRequestStatus.graduationRequestPeriodOpen"
        (action)="navigateToGraduationRequest()"
      >
      </universis-msgbox>
    </div>
  </div>
</ng-container>
