<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['/degree/overview/graduation']">
          <i class="fa fa-chevron-left pr-1"></i>
          <span [translate]="'UniversisGraduationModule.BackToDegree'"></span>
        </a>
        <h1 class="mt-1"> {{ "UniversisGraduationModule.GraduationRequestWizard" | translate }} </h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="row">
          <universis-graduation-request class="col-md-12"></universis-graduation-request>
        </div>
      </div>
    </div>
  </div>
</div>
