<h2> {{ 'UniversisGraduationModule.GraduationCeremony.Title' | translate }} </h2>

<div class="py-3 col" *ngIf="graduationRequestStatus">
  <div class="row font-md mb-2"> {{ 'UniversisGraduationModule.GraduationCeremony.ParticipationStatus' | translate }} </div>
  <div class="row align-items-center">
    <i *ngIf="status === 'completed'" class="mr-2 font-5xl text-gray-500 fas fa-graduation-cap"></i>
    <span class="font-lg">{{ 'UniversisGraduationModule.GraduationCeremony.MandatoryParticipation' | translate }}</span>
  </div>
  <button *ngIf="status === 'failed'" type="button" class="mt-1 row btn btn-light">
    {{ message | translate }}
  </button>
</div>

<!-- Graduation ceremony date and location -->
<div class="py-3" *ngIf="graduationRequestStatus">
  <div class="font-md mb-2"> {{ 'UniversisGraduationModule.GraduationCeremony.GraduationCeremonyStatus' | translate }} </div>
  <div *ngIf="graduationCeremonyDate && graduationCeremonyLocation">
    <div class="row col-12 col-xl-9">
      <div class="col-6 col-md">
        <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Date' | translate }} </div>
        <div class="row font-weight-bold font-lg">{{ graduationCeremonyDate | date }}</div>
      </div>
      <div class="col-6 col-md">
        <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Time' | translate }} </div>
        <div class="row font-weight-bold font-lg">{{ graduationCeremonyDate | date: 'short' }}</div>
      </div>
      <div class="col-12 col-md-6">
        <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Location' | translate }} </div>
        <div class="row font-weight-bold font-lg">{{ graduationCeremonyLocation }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="!graduationCeremonyDate || !graduationCeremonyLocation">
    <div class="font-lg mb-3">
      {{ 'UniversisGraduationModule.GraduationCeremony.DatesWillBeAnnouncedNotice' | translate }}
    </div>
    <div>
      <i class="font-lg text-info fa fa-info-circle mr-3"></i>
      <span> {{ 'UniversisGraduationModule.GraduationCeremony.MailWillBeSentNotice' | translate }} </span>
    </div>
  </div>
</div>

<!-- certificates -->
<div *ngIf="certificates && certificates.length > 0" class="mt-4 mb-3 col">
  <div class="row font-md mb-2">
    {{ 'UniversisGraduationModule.GraduationCeremony.GraduationCertificates' | translate }}
  </div>
  <div class="row py-2" *ngFor="let certificate of certificates">
    <div class="row font-lg col-12">{{ certificate.title }}</div>
    <!-- <button (click)="downloadFile(certificateUrl);" type="button"
            class="align-self-start btn btn-secondary btn-requests btn-requests-grey d-block d-sm-none mt-2"></button> -->
      <button type="button" class="mt-1 col-lg-1 col-md-2 col-sm-3 btn btn-light">
        {{ 'UniversisGraduationModule.Download' | translate }}
      </button>
  </div>
</div>
