<div class="row">
  <div class="col-12">
    <h2> {{ 'UniversisGraduationModule.DocumentsSubmission.Title' | translate }} </h2>
    <p> {{ 'UniversisGraduationModule.DocumentsSubmission.Subtitle' | translate }} </p>
  </div>
</div>
<div class="row" *ngIf="statusNotice">
  <div class="col-12">
    <span> {{ 'UniversisGraduationModule.DocumentsSubmission.SubmissionStatus' | translate }} </span>
    <p> {{ statusNotice }} </p>
  </div>
</div>
<div class="row"  *ngIf="attachments">
  <div class="col-12">
    <span> {{ 'UniversisGraduationModule.DocumentsSubmission.GraduationDocuments' | translate }} </span>
    <div class="row">
      <div class="col">
        <div class="row mt-4" *ngFor="let attachment of attachments; index as i">
          <div class="col">
            <div class="row">
              <div class="col d-flex align-items-start">
                <div class="icon-container" *ngIf="attachment.status !== 'unavailable'">
                  <span class="fa-stack" *ngIf="attachment.status === 'pending'">
                    <!-- title="Last update: {{
                      attachment.document && attachment.document.dateModified
                       ? attachment.document.dateModified
                       : ''
                  }}" -->
                    <i class="fa fa-circle fa-stack-2x text-white"></i>
                    <i class="far fa-clock fa-stack-2x text-secondary"></i>
                  </span>
                  <span class="fa-stack" *ngIf="attachment.status === 'completed'">
                    <i class="fa fa-circle fa-stack-2x text-success"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="fa-stack" *ngIf="attachment.status === 'fail'">
                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                    <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                  </span>
                </div>
                <div class="row ml-3">
                  <div class="col">
                    <span> {{ attachment.name }} </span>
                    <p class="text-secondary"> {{ attachment.description }} </p>
                    
                    <div class="row" *ngIf="attachment.errorMessage">
                      <div class="col">
                        <span class="text-red">{{attachment.errorMessage}}</span>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col">
                        
                        <form 
                        *ngIf="attachment.status !== 'completed'"
                          #studentGraduationRequestActionForm="ngForm"
                          enctype="multipart/form-data"
                          class="row"
                          (ngSubmit)="triggerUploadFile(i)"
                        >
                          <div class="input-group col-8" >
                            <div class="custom-file overflow-hidden d-inline-block text-truncate">
                              <input type="file" class="custom-file-input d-flex d-inline-block text-truncate" 
                                id="file" 
                                aria-describedby="filename"
                                name="file" 
                                required 
                                (change)="onFileChange($event, i)"
                              >
                              <label class="custom-file-label" for="filename">
                                {{forms && forms[i] && forms[i].selectedFilename ? forms[i].selectedFilename : ''}}
                              </label>
                            </div>
                          </div>
                          <button 
                            type="submit" class="btn btn-gray-100 col"
                            [ngClass]="{
                              'disabled': !(forms && forms[i] && forms[i].selectedFilename)
                            }"
                          >
                            {{ 'UniversisGraduationModule.DocumentsSubmission.UploadDocument' | translate }}
                          </button>
                        </form>
                        <div *ngIf="attachment.status === 'completed'">
                          <button 
                            class="btn btn-gray-100 mr-2"
                            (click)="downloadFile(i)"                          
                            >
                            <!-- *ngClass="{'disabled': !!!attachment.document.url}" -->
                            {{ 'UniversisGraduationModule.DocumentsSubmission.DownloadDocument' | translate }}
                          </button>
                          <button 
                            *ngIf="graduationRequestStatus.status === 'PotentialActionStatus'"
                            class="btn btn-gray-100"
                            (click)="openDeleteModal(i)"
                          >
                            {{ 'UniversisGraduationModule.DocumentsSubmission.RemoveDocument' | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #DeleteAttachmentModalTemplate>
  <div class="modal-header">
    <div class="d-flex flex-column justify-content-end w-100">
      <h5 class="modal-title text-center">
        {{ 'UniversisGraduationModule.DocumentsSubmission.AttachmentDeleteModal.Title' | translate }}
      </h5>
    </div>

    <button type="button" class="close" (click)="closeDeleteModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-12">
        {{ 'UniversisGraduationModule.DocumentsSubmission.AttachmentDeleteModal.Body' | translate: {attachmentType: deleteCandidate.type} }}
      </div>
      <div class="col-12 mt-1">
        <i class="fas fa-exclamation-triangle text-warning"></i>
        {{ 'UniversisGraduationModule.DocumentsSubmission.AttachmentDeleteModal.Notice' | translate }}
      </div>      
    </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col">
        <button (click)="closeDeleteModal()" class="btn btn-outline-secondary mx-2">
          {{ 'UniversisGraduationModule.DocumentsSubmission.AttachmentDeleteModal.Close' | translate }}          
        </button>
        <button (click)="confirmDocumentDelete()" class="btn btn-outline-danger mx-2">
          {{ 'UniversisGraduationModule.DocumentsSubmission.AttachmentDeleteModal.Delete' | translate }}          
        </button>
      </div>
    </div>
  </div>
</ng-template>
